* {
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 200px 4fr 1fr;
}

.column-one {
    background-color: green;
    position: -webkit-sticky;
    position: sticky;
}

.column-two {
    background-color: blue;
}

#library-spines {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}


.column-three {
    background-color: red;
}

.book-template {
    height: 200px;
    width: 20px;
    background-color: green;
}