:root {
  --shelf-color: #5c3714;
}

* {
    box-sizing: border-box;
}

html {
  background-color: #6363a0;
}

.main {
    display: grid;
    grid-template-columns: 200px 4fr 1fr;
}

.column-one {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 10px;
    background-color: green;
  }


.column-two {
    background-color: blue;
}

#library-spines {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-bottom: 6px solid var(--shelf-color);
    margin-top: 10px;
}


.column-three {
    background-color: red;
}

.book-template {
    background-color: #6363a0;
    color: black;
    height: 260px;
    width: 24px;
    margin-right: 3px;
    margin-top: 5px;
    writing-mode: vertical-rl; 
    border-radius: .2em .2em 0 0;
    font-weight: bold;
    font-size: .9rem;
    box-shadow: inset 3px 0px 0px 0px #ffffff83;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px 2px 1px 1px;
    line-height: .6rem;
}




.default-shelf {
    display: flex;
    align-items: baseline;
    border-bottom: 8px solid var(--shelf-color);
}

.graphic-novel {
    height: 204px;
    width: 18px;
    background-color: #ffa500;
  }
  .paperback {
    height: 160px;
    width: 20px;
    background-color: #eedbb8;
  }
  .omnibus {
    height: 222px;
    width: 43px;
    background-color: #16191a;
    color: #f5f5f5;
  }  
  .coffee-table {
    height: 214px;
    width: 24px;
    background-color: #13e6e6;
  }
  .comic-issue {
    height: 201px;
    width: 1px;
    background-color: #ffffff;
    margin-right: 2px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
  }
  .art-book {
    height: 260px;
    width: 20px;
    background-color: #9a1ccc;
    /* font-family: "Sofia"; */
  }
  .hardcover {
    height: 204px;
    width: 29px;
    background-color: #c9230d;
  } 